.blogShort {
    border-bottom:1px solid white;
}

h2 {
    color:#005594;
    text-align: center;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.margin10 {
    margin-bottom:10px; 
    margin-right:10px;
}

.carousel {
    width: 600px;
 }
 
 h5{ text-align: justify;
    font-size: larger;
    
    
}
body{ 

    background-image: url("../img/fundo.jpg");
     }